{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="/static/CSS/styleAgregar.css">
{% endblock %}

{% block container %}  
    <div class="container marketing">
      <div class="row">
        <div class="col-lg 1"></div>
        <div class="col-lg-10">
          <h2 class="text-center mt-5">Agregar un producto nuevo</h2>
          <h3 class="text-center" style="color: green;">{{mensaje}}</h3>
          <br><br>
          <!-- FORMULARIO PARA AGREGAR UN PRODUCTO NUEVO -->
          <form id="Form_agregar" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="IdNombre" name="nombre" minlength="3" maxlength="100" autofocus
                required>
              <label for="IdNombre">Nombre del producto</label>
            </div>
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="IdPrecio" name="precio" min="100" max="10000000" required>
              <label for="IdPrecio">Precio</label>
            </div>
            <div class="form-floating mb-3">
              <textarea class="form-control" id="IdDesc" name="descripción" minlength="8" maxlength="400" required></textarea>
              <label class="form-label" for="IdDesc">descripción</label>
            </div>
            <select aria-label="Default select example" id="id_categoria" name="categoria" required class="form-select mb-1" >
              <option selected disabled value="">Seleccione una categoria</option>
              {% for categoria in cat %}
              <option value="{{categoria.id_categoria}}">{{categoria.nombre_categoria}}</option>
              {% endfor %}
            </select>
            <br>
            <select aria-label="Default select example" id="id_marca" name="marca" required class="form-select mb-1" >
              <option selected disabled value="">Seleccione una marca</option>
              {% for x in marca %}
              <option value="{{x.id_marca}}">{{x.nombre_marca}}</option>
              {% endfor %}
            </select>
            <label for="Idimagen">Subir imagen :  </label>
            <input type="file" id="Idimagen" name="imagen" accept="image/png, image/jpeg, image/jpg, image/webp" required class="form-control">
      
            <center><button class="btt btn btn-outline-primary" type="submit">Publicar</button></center>
            <center><button class="btt btn btn-outline-primary" onclick="history.back()">Volver</button></center>
        
          </form>
        </div>
        <div class="col-lg 1"></div>

      </div>
  
  
    

{% endblock %}